:root {
  --backgroundColor: #282c35;
  --bodyColor: #ffffff;
  --bodyFont: Mulish, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
    Arial, sans-serif;
  --link-color: #f12844;

  --white: #ffffff;
  --black: #000000;

  --brand: #e71d36;
  --accent: #e3d26f;
  --muted: #a9a9a9;

  /* FONT SIZES */
  --base-size: 0.8rem; /* 16px */
  --golden-ratio: 1.618;
  --base-size-sm: 0.75rem;
  --golden-ratio-sm: 1.333;

  /* FONT COLOR */
  --markdown-p: #e2e2e2;

  --button-color-primary: #ffffff;
  --button-bg-color-secondary: #727171;
  --button-border-color-secondary: var(--button-bg-color-secondary);
  --button-color-secondary: var(--white);

  --pill-bg-color: #41060c;
  --pill-bg-color-hover: #ba081a;
  --pill-text-color: #eaa7ba;

  --table-hover-bg: #41060c3d;

  --modal-bg-color: #222222;
}

body {
  background: var(--backgroundColor);
  color: var(--bodyColor);
  font-family: var(--bodyFont);
}

a {
  color: var(--link-color);
}

a.span-link {
  color: var(--white);
  text-decoration: none;
}

.muted {
  color: var(--muted) !important;
}

/* NAV STYLES */

nav.navbar {
  background-color: var(--backgroundColor);
  color: var(--white);
}

nav a.navbar-brand,
nav a.navbar-brand:hover {
  color: var(--white);
}

nav a.nav-link {
  color: var(--white);
  border-bottom-color: var(--white);
  border-bottom: 0.15em solid;
  transition: border-bottom-color 0.25s ease;
}

.nav-link:focus,
.nav-link:hover {
  border-bottom-color: var(--brand);
  color: var(--white);
}

.navbar-nav .nav-link.active {
  color: var(--brand);
  border-bottom-color: var(--brand);
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    justify-content: end;
  }
}

/* // MASTHEAD STYLES */

.masthead {
  min-height: 57vh;
}

.profile_headshot {
  height: 15em;
  border-radius: 50%;
}

/* font sizings */
.masthead p {
  font-size: var(--base-size);
}

.masthead h3 {
  /* 1.618 times the base size */
  font-size: calc(var(--base-size) * var(--golden-ratio));
}

.masthead h2 {
  /* 1.618 times the h3 size */
  font-size: calc(var(--base-size) * var(--golden-ratio) * var(--golden-ratio));
}

.masthead h1 {
  /* 1.618 times the h2 size */
  font-size: calc(
    var(--base-size) * var(--golden-ratio) * var(--golden-ratio) *
      var(--golden-ratio)
  );
}

.index-btn-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 0.3;
}

.index-btn-wrapper > * {
  margin: 0.5em 0.2em;
}

.index-btn-wrapper > .two-btns-wrapper {
  display: flex;
}

.two-btns-wrapper > * {
  flex-grow: 1;
}

.two-btns-wrapper :first-child {
  margin-right: 0.5em;
}

/* MOBILE STYLES */
@media (max-width: 767.98px) {
  /* CSS rules for mobile screens (sm breakpoint) */

  .profile_headshot {
    height: 10em;
  }

  /* font sizings */
  .masthead p {
    font-size: var(--base-size);
  }

  .masthead h3 {
    /* 1.618 times the base size */
    font-size: calc(var(--base-size) * var(--golden-ratio-sm));
  }

  .masthead h2 {
    /* 1.618 times the h3 size */
    font-size: calc(
      var(--base-size) * var(--golden-ratio-sm) * var(--golden-ratio-sm)
    );
  }

  .masthead h1 {
    /* 1.618 times the h2 size */
    font-size: calc(
      var(--base-size) * var(--golden-ratio-sm) * var(--golden-ratio-sm) *
        var(--golden-ratio-sm)
    );
  }

  .index-btn-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .index-btn-wrapper > * {
    margin: 0.5em 0.2em;
  }

  .index-btn-wrapper > .two-btns-wrapper {
    display: flex;
  }

  .two-btns-wrapper > * {
    flex-grow: 1;
  }

  .two-btns-wrapper :first-child {
    margin-right: 0.5em;
  }

}

/* UTILITIES */

.placeholder-box {
  background-color: var(--backgroundColor);
  position: relative;
  z-index: 10;
}

.placeholder-box::before {
  padding-bottom: 75%;
  content: "";
  display: block;
}

.object-fit {
  height: 100%;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
}

.span-link {
  bottom: 0;
  left: 0;
  outline: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 50;
}

@media (min-width: 768px) {
  .container {
    max-width: 860px;
  }
}

/* // BUTTONS */

.btn-primary {
  background-color: var(--brand);
  color: var(--button-color-primary);
  border-color: var(--brand);
  border-radius: 0;
}
.btn.btn-primary:hover {
  background-color: var(--link-color);
  border-color: var(--link-color);
}
.btn-secondary {
  background-color: var(--button-bg-color-secondary);
  color: var(--button-color-secondary);
  border-color: var(--button-border-color-secondary);
  border-radius: 0;
}

.btn-outline-primary {
  color: var(--button-color-primary);
  border-color: var(--button-color-primary);
  border-radius: 0;
}

.btn-outline-primary:hover {
  background-color: var(--brand);
  border-color: var(--brand);
}

/* ANIMATIONS */

.fade_content {
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

h4.index-sub-title {
  font-size: 1rem;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  font-weight: 700;
}

.card-title {
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 0;
}

/* // FEATURED ARTICLES */
section.featured-articles > .title-col {
  border-bottom: 1px solid var(--brand);
}

/* BLOG */
.blog_row .btn-outline-primary {
  border: none;
}

.item_date_meta {
  font-size: 0.8rem;
  vertical-align: middle;
  white-space: nowrap;
}

/* MOBILE STYLES */
@media (max-width: 767.98px) {
  /* CSS rules for mobile screens (sm breakpoint) */
  div.page-title-wrapper {
    padding-top: 1rem;
    margin-top: 0.5rem;
  }

  .read_btn span {
    display: none;
  }



}


/* // RECENT PROJECTS */
section.recent-projects > .title-col {
  border-bottom: 1px solid var(--brand);
}

.project-card .card-text {
  font-size: small;
}

.project-card-col {
  border-bottom: 1px solid var(--muted);
}

.project-card-col:hover .badge.pill{
  background-color: var(--pill-bg-color-hover);
  color: var(--white);
}

/* // CARDS */
.card {
  background-color: transparent;
  color: var(--white);
  border: none;
}

/* // PILLS */
.pills {
  display: flex;
  flex-wrap: wrap;
}

.badge.pill {
  color: var(--pill-text-color);
  background-color: var(--pill-bg-color);
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

/* POSTS */

.meta {
  color: var(--muted);
  font-weight: 700;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.unpublished-text {
  color: var(--brand);
}

.markdown-section .post-title-wrapper {
  line-height: 1.2;
}
.markdown-section .post-title-wrapper > h1 {
  letter-spacing: -0.1rem;
  font-weight: 800;
}

.header-img {
  width: 100%;
}

.post-content {
  font-size: 1rem;
  line-height: 1.8;
}

.markdown-section .post-content h1 {
  margin-top: 4rem;
  letter-spacing: -0.03rem;
  margin-top: 4rem;
}

.markdown-section .post-content h2 {
  letter-spacing: -0.03rem;
  margin-top: 4rem;
  margin-bottom: 1rem;
}

.markdown-section .post-content p {
  margin-top: 1.5rem;
  margin-bottom: 0;
  margin-bottom: 1rem;
  color: var(--markdown-p);
}

.markdown-section .post-content img {
  width: auto;
  max-height: 25em;
}

/* PAGES */

.page-title-wrapper {
  padding-top: 1.5rem ;
  margin-top: 3rem ;
}
.page-title-wrapper > h1 {
  line-height: 1.2;
  letter-spacing: -0.1rem;
  font-size: 3rem;
  font-weight: 800;
}
.github-link > a {
  color: var(--white);
  font-size: 2rem;
  transition: font-size 0.5s;
}
.github-link > a:hover {
  color: var(--brand);
  font-size: 2.5rem;
}

/* TABLES */
.table.table-dark {
  --bs-table-bg: none;
}

.table.table-dark * {
  border-style: none;
}

.table.table-dark:hover {
  --bs-table-hover-bg: var(--table-hover-bg);
}

tr.unpublished {
  font-style: italic;
}

/* MODALS */

.modal-content {
  color: var(--white);
  background-color: var(--backgroundColor);
}

.modal-content .modal-header {
  border-bottom-color: var(--brand);
}

.modal-footer {
  border-top: none;
}
