:root {
  --backgroundColor: #282c35;
  --bodyColor: #ffffff;
  --bodyFont: Mulish, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
    Arial, sans-serif;
  --link-color: #f12844;
  --white: #ffffff;
  --brand: #e71d36;
  --accent: #e3d26f;
  --muted: #a9a9a9;
  --base-size: 0.8rem; /* 16px */
  --golden-ratio: 1.618;
  --base-size-sm: 0.75rem;
  --golden-ratio-sm: 1.333;
  --button-color-primary: #ffffff;
  --pill-bg-color: #41060c;
  --pill-text-color: #eaa7ba;

  --table-hover-bg: #41060c3d;
}

body {
  background: var(--backgroundColor);
  color: var(--bodyColor);
  font-family: var(--bodyFont);
}

a {
  color: var(--link-color);
}

a.span-link {
  color: var(--white);
  text-decoration: none;
}

.muted {
  color: var(--muted) !important;
}

/* NAV STYLES */

nav.navbar {
  background-color: var(--backgroundColor);
  color: var(--white);
}

nav a.navbar-brand,
nav a.navbar-brand:hover {
  color: var(--white);
}

nav a.nav-link {
  color: var(--white);
  border-bottom-color: var(--white);
  border-bottom: 0.15em solid;
  transition: border-bottom-color 0.25s ease;
}

.nav-link:focus,
.nav-link:hover {
  border-bottom-color: var(--brand);
  color: var(--white);
}

.navbar-nav .nav-link.active {
  color: var(--brand);
  border-bottom-color: var(--brand);
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    justify-content: end;
  }
}

/* // MASTHEAD STYLES */

.masthead {
  min-height: 57vh;
}

.profile_headshot {
  height: 15em;
  border-radius: 50%;
}

/* font sizings */
.masthead p {
  font-size: var(--base-size) !important;
}

.masthead h3 {
  /* 1.618 times the base size */
  font-size: calc(var(--base-size) * var(--golden-ratio)) !important;
}

.masthead h2 {
  /* 1.618 times the h3 size */
  font-size: calc(
    var(--base-size) * var(--golden-ratio) * var(--golden-ratio)
  ) !important;
}

.masthead h1 {
  /* 1.618 times the h2 size */
  font-size: calc(
    var(--base-size) * var(--golden-ratio) * var(--golden-ratio) *
      var(--golden-ratio)
  ) !important;
}

/* UTILITIES */

.placeholder-box {
  background-color: var(--accent);
  position: relative;
  z-index: 10;
}

.placeholder-box::before {
  padding-bottom: 75%;
  content: "";
  display: block;
}

.object-fit {
  height: 100%;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
}

.span-link {
  bottom: 0;
  left: 0;
  outline: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 50;
}

@media (min-width: 768px) {
  .container {
    max-width: 860px;
  }
}

/* // BUTTONS */
.btn-outline-primary {
  color: var(--button-color-primary);
  border-color: var(--button-color-primary);
  border-radius: 0;
}

.btn-outline-primary:hover {
  background-color: var(--brand);
  border-color: var(--brand);
}

/* ANIMATIONS */

.main_content {
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

h4.index-sub-title {
  font-size: 1rem;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  font-weight: 700;
}

/* // FEATURED ARTICLES */
section.featured-articles > .title-col {
  border-bottom: 1px solid var(--brand);
}

section.featured-articles .card-title {
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 0;
}

/* // RECENT PROJECTS */
section.recent-projects > .title-col {
  border-bottom: 1px solid var(--brand);
}

.project-card .card-text {
  font-size: small;
}

/* // CARDS */
.card {
  background-color: transparent;
  color: var(--white);
  border: none;
}

/* // PILLS */
.badge.pill {
  color: var(--pill-text-color);
  background-color: var(--pill-bg-color);
}

.badge.pill:not(:first-child) {
  margin-left: 1em;
}

/* POSTS */

.meta {
  color: var(--muted);
  font-weight: 700;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.markdown-section .post-title-wrapper {
  line-height: 1.2;
}
.markdown-section .post-title-wrapper > h1 {
  letter-spacing: -0.1rem;
  font-size: 3rem;
  font-weight: 800;
}

.header-img {
  width: 100%;
}

.post-content {
  font-size: 1rem;
  line-height: 1.8;
}

.markdown-section .post-content h1 {
  margin-top: 4rem;
  font-size: 2.8rem;
  letter-spacing: -0.03rem;
  margin-top: 4rem;
}

.markdown-section .post-content h2 {
  font-size: 2.3rem;
  letter-spacing: -0.03rem;
  margin-top: 4rem;
  margin-bottom: 1rem;
}

.markdown-section .post-content p {
  margin-top: 1.5rem;
  margin-bottom: 0;
  margin-bottom: 1rem;
}

.markdown-section .post-content img {
  max-width: 100%;
  height: auto;
}

/* PAGES */

.page-title-wrapper {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
  margin-top: 3rem !important;
}
.page-title-wrapper > h1 {
  line-height: 1.2;
  letter-spacing: -0.1rem;
  font-size: 3rem;
  font-weight: 800;
}

/* TABLES */
.table.table-dark {
  --bs-table-bg: none;
  
}

.table.table-dark:hover {
  --bs-table-hover-bg: var(--table-hover-bg);
}