{% extends 'app_website/base.html' %}

{% block content %}
<div class="row">
    <div class="col">
        <div class="row">
            <div class="col">
                <div class="page-title-wrapper">
                    <h1 class="text-center">About Me</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>I'm an ex-doctor who graduated from Imperial College School of Medicine and Imperial Business
                    School.</p>
                <p>Currently, I'm freelancing as a clinical software developer, focussing on Python projects
                    to improve healthcare.</p>
                <p>I entered Medicine to realise positive change on a societal level.
                    However, working in the NHS, I experienced too many barriers and inefficiencies preventing
                    large-scale sustainable change. So instead, I'm turning to an outside-in approach through a pivot
                    into healthcare software development - skipping the red tape and bureaucracy - and democratising the
                    future of healthcare.</p>

                <p>My favourite language is Python, which I learned through self-teaching from online resources.
                    I founded my side hustle, <a href="https://medicode.info/">MediCode</a>, when realising there were no programming tutorials
                    catered to medics. I also have experience with languages such as HTML/CSS/JavaScript, R, and SQL. I
                    hold an internship with Great Ormond Street Hospital's data science team, <a href="https://www.goshdrive.com/">DRIVE</a>, and my
                    freelancing includes clients such as the <a href="https://www.rcpch.ac.uk/">RCPCH</a>.</p>

                <p>My main interests are data science and machine learning. My career aspirations involve applying
                    computational methods to understand the mind, improve mental health, and explore consciousness.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}