{% extends 'app_website/base.html' %}

{% load markdown_extras %}

{% block content %}
<section class="row masthead justify-content-center align-items-center">
    <div class="col text-center">
        <div class="col mb-5">
            <img src="https://pbs.twimg.com/profile_images/1533534495231594498/mRatF6Q8_400x400.jpg"
                alt="anchit profile headshot" class="img img-fluid profile_headshot">
        </div>
        <h1 class="mb-4">Dr Anchit Chandran</h1>
        <h3 class="mb-4">
            <em>Ex-doctor pivoting into software development.</em>
        </h3>
        <div class="btn-wrapper">
            <a href="{% url 'contact' %}" class="btn btn-outline-primary">Get in touch</a>
            <a href="{% url 'projects' %}" class="btn btn-outline-primary">Projects</a>
            
            {% include 'app_website/subscribe_form.html' %}

        </div>
    </div>
</section>
<section class="row index featured-articles justify-content-center mt-5 mt-md-0">
    <div class="col-11 col-md-12 pb-2 px-0 d-flex justify-content-between align-items-end title-col">
        <h4 class="mb-0 index-sub-title">Featured Articles</h4>
        <a href="{% url 'blog' %}" class="btn btn-outline-primary btn-sm">See all <i class="bi bi-arrow-right"></i></a>
    </div>
    <div class="col px-0">
        <div class="row py-3 justify-content-center ">
            {% for post in posts %}
            <div class="col-11 col-md-4">
                <div class="card">
                    <a href="{% url 'view_post' post.id %}" class="span-link">
                    </a>
                    <div class="featured-article-header-img-wrapper placeholder-box">
                        <img src="{% if post.header_img %}{{ post.header_img }}{% else %} {{DEFAULT_HEADER_IMG_URL}} {% endif %}"
                            alt="" class="featured-article-img object-fit">
                    </div>
                    <div class="card-body px-0">

                        <p class="card-title">{{ post.title }}</p>
                        <p class="card-text"><small class="text-body-secondary muted">{{ post.posted_at|date:"j M Y"}}</small></p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>


<section class="row index recent-projects">
    <div class="col-12 pb-2 px-0 d-flex justify-content-between align-items-end title-col">
        <h4 class="mb-0 index-sub-title">Recent Projects</h4>
    </div>
    <div class="col px-0">
        <div class="row py-3">
            {% for project in projects %}
            <div class="col-6">
                <div class="row">
                    <div class="col-4">
                        <img src="{{ project.header_img }}" alt="" class="img img-fluid">
                    </div>
                    <div class="col project-card card">
                        <a href="{% url 'view_project' project.id %}" class="span-link">
                        </a>
                        <p class="card-title"> {{ project.title }} </p>
                        <p class="card-text">{{ project.content | safe }}</p>
                        <div class="pills">
                            {% for skill in project.skills.all %}
                            <div class="p-2 badge pill">{{ skill }}</div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock content %}