{% url 'index' as index_url %}
{% url 'about' as about_url %}
{% url 'projects' as projects_url %}
{% url 'blog' as blog_url %}
{% url 'contact' as contact_url %}

<nav class="navbar navbar-expand-lg" data-bs-theme="dark">
    <div class="container px-md-0">
        <a class="navbar-brand" href="/">Dr Anchit Chandran</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0">

                <li class="nav-item me-3">
                    <a class="nav-link {% if request.path == index_url %}active {% endif %}" aria-current="page"
                        href="{% url 'index' %}">
                        Home
                    </a>
                </li>
                <li class="nav-item me-3">
                    <a class="nav-link {% if request.path == about_url %}active {% endif %}"" aria-current=" page"
                        href="{% url 'about' %}">
                        About
                    </a>
                </li>
                <li class="nav-item me-3">
                    <a class="nav-link {% if 'project' in request.path %}active {% endif %}"" aria-current=" page"
                        href="{% url 'projects' %}">
                        Projects
                    </a>
                </li>
                <li class="nav-item me-3">
                    <a class="nav-link {% if 'blog' in request.path %}active {% endif %}"" aria-current=" page"
                        href="{% url 'blog' %}">
                        Blog
                    </a>
                </li>
                <li class="nav-item me-3">
                    <a class="nav-link {% if request.path == contact_url %}active {% endif %}"" aria-current=" page"
                        href="{% url 'contact' %}">
                        Contact
                    </a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Admin
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'admin_user_view' %}">View all actions</a></li>
                        <li><a class="dropdown-item" href="{% url 'create_draft_post' %}">Create new blog post</a></li>
                        <li><a class="dropdown-item" href="{% url 'view_posts_admin' %}">Manage blog posts</a></li>
                        <li><a class="dropdown-item" href="{% url 'view_subscribers' %}">Subscribers</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{% url 'admin:index' %}">Database management</a></li>
                    </ul>
                </li>
                <li class="nav-item me-3">
                    <a class="nav-link" aria-current="page" href="{% url 'logout_user' %}">
                        Logout
                    </a>
                </li>
                {% endif %}
        </div>
    </div>
</nav>