{% extends 'app_website/base.html' %}

{% load markdown_extras %}


{% block content %}
<div class="row markdown-section justify-content-center">
    <div class="col">
        <div class="post-title-wrapper py-4 mt-5">

            {% if user.is_authenticated %}

                <div class="draft-actions-wrapper d-flex justify-content-between mb-4">
                    <a href="{% url 'view_posts_admin' %}" class="read_btn btn btn-outline-primary btn-sm">
                        <i class="read_arrow bi bi-arrow-left"></i>
                        Manage posts
                    </a>
                    <a href="{% url 'edit_post' post_id=post.id %}" class="read_btn btn btn-outline-primary btn-sm">
                        Edit
                        <i class="bi bi-pen-fill"></i>
                    </a>
                    {% if not post.published %}
                    <a href="{% url 'publish_draft_post' post_id=post.id %}"
                        class="read_btn btn btn-outline-primary btn-sm">
                        Publish
                        <i class="read_arrow bi bi-arrow-right"></i>
                    </a>
                    {% endif %}
                </div>

                {% if not post.published %}
                    <p class="text-center unpublished-text">UNPUBLISHED</p>
                {% endif %}

            {% endif %}

            <p class="text-center meta"><small>{{ post.posted_at|date:"j M Y"}} • {{ post.calculate_reading_time }}
                    mins</small></p>
            <h1 class="text-center">{{ post.title }}</h1>
        </div>

        <div class="placeholder-box">
            <img src="{{ post.header_img }}" alt="" class="object-fit">
        </div>

        <div class="row justify-content-center">
            <div class="col-10 post-content">
                {{ post.content | markdown | safe }}
            </div>
        </div>
    </div>
</div>

{% endblock %}