{% extends 'app_website/base.html' %}

{% block content %}
<div class="row">
    <div class="col">
        <div class="row">
            <div class="col">
                <div class="page-title-wrapper">
                    <h1 class="text-center">My Work</h1>
                </div>
            </div>
        </div>
        <div class="row py-3 justify-content-center ">
            {% for project in projects %}
            <div class="col-11 col-md-8 projct-card-col mb-4">
                <div class="card">
                    <a href="{% url 'view_project' project.id %}" class="span-link">
                    </a>
                    <div class="featured-article-header-img-wrapper placeholder-box">
                        <img src="{% if project.header_img %}{{ project.header_img }}{% else %} {{DEFAULT_HEADER_IMG_URL}} {% endif %}"
                            alt="" class="featured-article-img object-fit">
                    </div>
                    <div class="card-body px-0">

                        <p class="card-title">{{ project.title }}</p>
                        <p class="card-text">{{ project.content | safe }}</p>
                        <div class="pills">
                            {% for skill in project.skills.all %}
                            <div class="p-2 badge pill">{{ skill }}</div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}