{% extends 'app_website/base.html' %}

{% load markdown_extras %}


{% block content %}
<div class="row markdown-section justify-content-center">
    <div class="col">
    <div class="post-title-wrapper py-md-4 mt-md-5">
            <p class="text-center github-link"><a href="{{ project.github }}"><i class="bi bi-github"></a></i></p>
            <h1 class="text-center">{{ project.title }}</h1>
        </div>

            <div class="placeholder-box">
                <img src="{{ project.header_img }}" alt="" class="object-fit">
            </div>

        <div class="row justify-content-center">
            <div class="col-md-10 post-content">
                {{ project.content | markdown | safe }}
            </div>
        </div>
    </div>
</div>
{% endblock %}