{% extends 'app_website/base.html' %}

{% block content %}
<div class="row markdown-section justify-content-center">
    <div class="col">
        <div class="post-title-wrapper py-4 mt-5">
            <a href="{% url 'view_post' post.id %}" class="read_btn btn btn-outline-primary btn-sm">
                <i class="read_arrow bi bi-arrow-left"></i>
                Edit
            </a>
            <h1 class="text-center">Publish blog post</h1>
        </div>
        <div class="row">
            <div class="col">
                <h1>Post title: {{ post.title }}</h1>
            </div>

            <form method="post">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" value="Publish" class="btn btn-outline-primary">
            </form>

        </div>
    </div>
</div>
{% endblock %}